extends layout

block content
  div.deleteForm
    h2 #{book_title} 
    h3.mainLinks by #{book_author}
    p Do you really want to delete this Book? 
    form(method='POST' action='')
      input.createBookBtn(type="submit", value="Delete")
    
    a(class='homeBtn' href='/') Go Back to Home page
