extends layout

block content
  div.deleteForm
    h2 #{genre_title.name}
    p Do you really want to delete this genre? 
    form(method='POST' action='')
      input.deleteBtn(type="submit", value="Delete")
    
    a(class='homeBtn' href='/') Go Back to Home page

