extends layout

block content
  div.Booklist_by_Genre
    h2 #{genre.name} genre
    if books.length <= 0
      h3 No #{genre.name} genre books available
    else 
    div#bookHolder

        each book in books 
          div.bookStyle
            img(src = "https://m.media-amazon.com/images/I/51SkIDTd9rL._AC_SY780_.jpg" class= 'index-book-images')
            a(href=book.url)#Booktitle= book.title
            span by 
            a(href="#" class ='mainLinks')#author #{book.author? book.author.fullName : 'Unknown author'}

    form(method='POST' action='')
      input(type="submit", value="Delete Genre" class = "createBookBtn")

  a(class='homeBtn' href='/') Go Back to Home page
