doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h3#indexHeader Local Library
    nav
      ul 
        each genre in genres
          li
            a(href= genre.url+ "/detail")= genre.name

        else 
          li There are no authors.

      div(id = 'addGenre')
        a(id = 'plusButton' href='http://localhost:3000/catalog/genre/create') +
        a( id = 'AddNewGenreText' href='http://localhost:3000/catalog/genre/create') Add New Genre

    block content 
    script(src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-umd-min.js") 
