*{
  padding:0;
  margin:0;
  border:0
}

body {
  font: 14px "Lucida Grande", Helvetica, sans-serif;
}

@media (min-width:1200px){

  /*SHARED ELEMENTS*/
  
.createBookBtn{
  padding:20px 40px;
  background-color: #515BD4;
  cursor: pointer;
  color:white;
  font-size: 1.2em;
  margin: auto;
  display: block;
  border-radius: 10px;
}

.createBookBtn:hover{
  background-color:#202985;
}

.addButtons{
  padding:20px 40px;
  background-color: #515BD4;
  cursor: pointer;
  color:white;
  font-size: 1.5em;
  margin: auto;
  width:200px;
  text-align: center;
  display: block;
  font-weight: 100;
  text-decoration: none;
  border-radius: 10px;
}

.mainLinks{
  color:#202985;
  text-decoration: none;
}

.deleteBtn{
  background-color:#FF2257;
  color: white !important;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 20px 15px!important;
  width:120px;
  text-align: center;
  cursor: pointer;
  font-weight: 100;
  font-size: 1.2em;
}

.deleteBtn:hover{
  background-color: #ff0000;
}

.updateBtn{
  background-color:#8134AF;
  color: white !important;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 20px 15px!important;
  width:120px;
  text-align: center;
  cursor: pointer;
  padding: 30px;
  font-weight: 100;
  font-size: 1.2em;
}

.updateBtn:hover{
  background-color: #2c39c7;
}

  /*SHARED ELEMENTS OVER*/

  /*All headings*/
   h1{
    text-align: center;
    font-weight: 200;
    margin: 1.2em 0;
    
  }


  /*DESKTOP HEADER*/
  header{
    background-color: #515BD4;
    color:white;
    padding: 30px 0;
  }

    
  #indexHeader{
    text-align: center;
    font-weight: 100;
    font-size: 2.1em;
  }

  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    margin: auto;
    padding: 40px 0;
    box-shadow: rgba(107, 102, 102, 0.466) 1px 5px 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  nav ul li{
    display: inline-block;
    padding: 0 20px;
    font-size: 1.4em;
    font-weight: 100;
    cursor: pointer;
  }

  nav ul li a{
    color:#515BD4;
    text-decoration: none;
  }

  nav ul li a:hover{
   color: #515BD4;
  }

  #addGenre{
    display: inline-block;
  }

  #plusButton{
    background-color: #515BD4;
    font-size: 3em;
    padding: 0px 20px 12px 20px;
    border-radius: 100px;
    color:white;
    text-align: center;
    text-decoration: none;
  }

  #plusButton:hover{
    background-color: #1d2476;

  }

  #AddNewGenreText{
    padding-left: 20px;
    text-decoration: none;
    font-size: 1.3em;
    color:rgb(36, 36, 36);
  }

  /*BOOK DETAILS*/

  .BookDetails{

    width:1200px;
    margin: 5em auto 12em;
    display: flex;
    
  }

  .BookDetails img{
    border-radius: 5px;
    width: 250px;
    margin-right: 4em;
  }

  .BookDetails h2{

    font-size:2em;
    font-weight: 100;
  }

  #BookDataContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 0ch;
  }

  #BookDataContainer span, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size:1.1em;
  }

  #BookDataContainer a{
    color: #515BD4;
  }

  #BookDataContainer .summary{
    font-size:1.2em;
    width:670px;
  }

  .updateButtons{


    text-align: right;
    display: inline;
  }

  .updateButtons a{
    margin: 0 10px;
    font-size: 1.2em;
  }

  /*NEW BOOK FORM*/

  #createBookForm{
   
    width:500px;
    margin: auto;
  }

  #createBookForm label {
    padding-left: 3em;
    font-size:1.3em;
  }

  #createBookForm input[type='text']{
    border-bottom: 2px solid rgb(43, 41, 41);
    padding-bottom: 5px;
    font-size: 1.3em;
    width:400px;
    display: block;
    margin: auto;
    padding-top: 2em;
    padding-left: 8px;
    
  }

  #createBookForm textarea{

    width:80%;
    font-size: 1.3em;
    margin-left: 2.5em;
    margin-top: 2em;
    font-family: "Lucida Grande", Helvetica, sans-serif;
    border-bottom: 2px solid rgb(43, 41, 41);
    padding-left: 8px;
  }

  #createBookForm textarea:focus{
    outline: none;
    border-bottom: 2px solid rgb(119, 28, 255);
  }

  #createBookForm input[type='text']:focus{
    outline: none;
    border-bottom: 2px solid rgb(119, 28, 255);
  }

  .form-group label{
  
    font-size: 1.3em;
  }

  .genres{
    margin: 2em 0;
    display: flex;
  }

  .genres label{
    margin-right: 10px;
    line-height: 2;
  }

  #imageUpload{
    display: block;
    margin: auto;
    width:400px;
  }

  /*NEW GANRE FORM*/
  .new_form{

    width:1000px;
    margin: 12em auto 0;
  }

  #form_title{
    text-align: center;
    font-weight: 100;
    font-size: 2em;
    margin-top: 4em;
    color:rgb(49, 49, 49);
  }

  .new_form input[type='text']{
    border-bottom: 2px solid rgb(43, 41, 41);
    padding-bottom: 5px;
    font-size: 1.3em;
    width:400px;
    display: block;
    margin: auto;
    margin-bottom: 2em;
  }

  .new_form input[type='text']:focus{
    outline: none;
    border-bottom: 2px solid rgb(119, 28, 255);
  }

  .homeBtn{
    display: block;
    text-decoration: none;
    color: #2c39c7;
    width:180px;
    padding-bottom: 2px;
    margin: auto;
    cursor: pointer;
    margin-top: 3em;
    text-align: center;
  }

  .homeBtn:hover{
    border-bottom: 2px solid #515BD4;
  }


  /*Container where books displayed*/

  #bookHolder{
   
    width:1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
  }

  .index-book-images{

    width:200px;
    height: 300px;
    margin-bottom: 1.2em;
    cursor: pointer;
    object-fit:  cover;
  }

  #bookHolder h1{
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 3em;
  }


  .bookStyle{
    list-style-type: none;
    text-align: center;
    padding: 40px;

  }

  #index_addBookBtn{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #Booktitle{
    display: block;
    width:290px;
    font-size: 1.3em;
    text-align: center;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 0.5em;
    cursor: pointer;
    text-decoration: none;
    color:#262626;
  }

  .bookStyle span{
    font-size: 1.15em;
  }
  #author{
    font-size: 1.15em;
    color:#515BD4;
    text-decoration: none;
    margin-bottom: 1em;
  }

  #author:hover{
    color:#515BD4;
    text-decoration: #515BD4 2px solid underline;
  }

  #genre{
    font-size: 1.1em;
    display: block;
    color:#515BD4;
    margin-top: 1em;
    text-decoration: none;
  }

  #genre:hover{
    color:#515BD4;
    text-decoration: #515BD4 2px solid underline;
  }
  /*If no genre*/
  #genreNon{
    font-size: 1.1em;
    display: block;
    color:#262626;
    margin-top: 1em;
    text-decoration: none;
  }

  /*BOOKS BY GENRE PAGE*/

  .Booklist_by_Genre{
    margin: auto;
    margin-top: 2em;
    width:1200px;
    text-align: center;
  }

  .Booklist_by_Genre h2{
    font-size:2em;
    font-weight: 100;
  }

  .Booklist_by_Genre h3{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size:1.4em;
    margin: 3em 0;
    font-weight: 100;
  }



  /*DELETE FORMS (BOOKS)*/

  .deleteForm{

    margin: auto;
    margin-top: 4em;
    width:1200px;
    text-align: center;
  }

  .deleteForm h2{
    font-size:2.5em;
    font-weight: 100;
    line-height: 2;
  }

  .deleteForm h3{
    font-size: 1.3em;
  }

  .deleteForm p{
    margin-top: 3em;
    font-size:1.6em;
    margin-bottom: 1em;
  }

/*END OF DESKTOP*/
}

